<!DOCTYPE html>
<html>
<head>
  <meta charset="windows-1251">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
<a class="buttonlng"  href="?lang=en">en</a>
<a class="buttonlng"  href="?lang=de">de</a>
<a class="buttonlng"  href="?lang=fr">fr</a>
<a class="buttonlng"  href="?lang=uk">uk</a>
<a class="buttonlng"  href="?lang=ru">ru</a>
</body>
</html>
