<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />  <meta name="description" content="Приглашаем детей и взрослых для увлекательного изучения английского языка" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= __("Title") %></title>
</head>
<body>
<header>
    <a class="logo" href="http://localhost:3000/"><img src="/images/continent.png"></a>
    <a class="name" href="http://localhost:3000/">Клуб английского языка "Continent"</a>+38 (096) 320-48-96
</header>
<div class="main">
    <iframe width="560" height="315" style="margin-right:10px;" src="https://www.youtube.com/embed/videoseries?list=PLHDcjEcp5o7-XTJgPp8308FU3zycjFAaf" frameborder="0" allowfullscreen></iframe>
    <br/>
    <input type="checkbox" id="pause" value="pause" name="pause">Pause</input>
    <div class="css-slideshow"></div>

    орошенко предлагает Верховной Раде одобрить допуск подразделений вооруженных сил других государств на территорию Украины в 2015 году для участия в многонациональных учениях.
  Соответствующий законопроект зарегистрирован в парламенте 6 марта, передает Цензор.НЕТ со ссылкой на Интерфакс-Украина.
  Текст законопроекта отсутствует.
  Напомним, 20 февраля 2015 года и.о. спикера Генерального штаба Вооруженных сил Украины Владислав Селезнев обнародовал график проведения многонациональных учений на текущий год на территории Украины и за границей, утвержденный решением СНБО.
  Читайте также на "Цензор.НЕТ": Госдеп США обвинил Россию во лжи об оккупации Крыма
  "Предусматривается участие ВСУ в 11-и многонациональных учениях, из них 4 пройдут на территории Украины и 7 за границей", - рассказал он на брифинге в Киеве.
  На территории Украины пройдут украинско-американские штабные учения "Си-бриз 2015" (25 суток) - в акватории Черного моря, на полигонах ВСУ, военных аэродромах и морских портах Одесской, Николаевской и Херсонской областей. В них примут участие до 2,5 тыс. военнослужащих, из них от ВСУ - до 1 тыс., до 9 кораблей, 8 вертолетов и самолетов, до 50 единиц колесной техники. От США - до 1 тыс. военнослужащих, до 5 кораблей, 2 подводных лодок, до 40 ед.колесной техники. От государств- членов НАТО и государств-участниц программы "Партнерство ради мира" - до 500 военнослужащих, до 6 кораблей, 3 подводных лодок, до 6 самолетов и вертолетов, до 10 ед. колесной техники. Источник: http://censor.net.ua/n327873
</div>
<div class="sidebar">
    <ul>
        <li><a href="/about/">О нас</a>
            <ul>
                <li><a href="/about/">О нас</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/gallery/">Фотографии</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/rules/">Условия</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/blog/">Блог</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/contact/">Контакты</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/registration/">Регистрация</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/gallery/">Фотографии</a>
            <ul>
                <li><a href="/about/">О нас</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/gallery/">Фотографии</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/rules/">Условия</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/blog/">Блог</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/contact/">Контакты</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/registration/">Регистрация</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/rules/">Условия</a>
            <ul>
                <li><a href="/about/">О нас</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/gallery/">Фотографии</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/rules/">Условия</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/blog/">Блог</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/contact/">Контакты</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/registration/">Регистрация</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/blog/">Блог</a>
            <ul>
                <li><a href="/about/">О нас</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/gallery/">Фотографии</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/rules/">Условия</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/blog/">Блог</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/contact/">Контакты</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/registration/">Регистрация</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/contact/">Контакты</a>
            <ul>
                <li><a href="/about/">О нас</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/gallery/">Фотографии</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/rules/">Условия</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/blog/">Блог</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/contact/">Контакты</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/registration/">Регистрация</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/registration/">Регистрация</a>
            <ul>
                <li><a href="/about/">О нас</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/gallery/">Фотографии</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/rules/">Условия</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/blog/">Блог</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/contact/">Контакты</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
                <li><a href="/registration/">Регистрация</a>
                    <ul>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/gallery/">Фотографии</a></li>
                        <li><a href="/rules/">Условия</a></li>
                        <li><a href="/blog/">Блог</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                        <li><a href="/registration/">Регистрация</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<footer>
    &#x000A9;&nbsp;2015 &#x000B7; Клуб английского языка «Continent»
    <span style="display: inline-block; padding: 10px">
    <a class="buttonlng"  href="?lang=en">en</a>
    <a class="buttonlng"  href="?lang=de">de</a>
    <a class="buttonlng"  href="?lang=fr">fr</a>
    <a class="buttonlng"  href="?lang=uk">uk</a>
    <a class="buttonlng"  href="?lang=ru">ru</a>
    </span>
</footer>
</body>
</html>
