<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="windows-1251">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title>Form</title>
    <title></title>
</head>
<body>
<fieldset form="form">
    <legend>Заполните форму</legend>
    <form id="form" method="post" action="/submit">
    <table>
        <tr>
            <td align="right">username:
            <td><input type="text"  name="username" title="username"></td>
        <tr>
            <td align="right">password:
            <td><input type="password"  name="password" title="password"></td>
        <tr>
            <td align="right">role:
            <td><select name="role" title="role" size="1">
                <option>leading</option>
                <option>minor</option>
                </select>
        <tr>
            <td align="right">projectType:
            <td align="left">
                <label><input type=radio name="projectType" value="Music">Music</label><br />
                <label><input type=radio checked name="projectType" value="Animations">Animations</label><br />
                <label><input type=radio name="projectType" value="Games">Games</label><br />
                <label><input type=radio name="projectType" value="Simulations">Simulations</label><br />
                <label><input type=radio name="projectType" value="Art">Art</label><br />
                <label><input type=radio name="projectType" value="Stories">Stories</label>
            </td>
        <tr>
            <td align="right">languages:
            <td>
                <select name="languages" title="languages" size="5" multiple="multiple">
                    <option>English</option>
                    <option>Deutsch</option>
                    <option>French</option>
                    <option>Ukrainian</option>
                    <option>Russian</option>
                </select>
            </td>
        <tr>
            <td align="right">email:
            <td><input type="email" name="email" title="email"></td>
        <tr>
            <td align="right">termsAndConditions:
            <td align="left"><label><input type="checkbox" name="termsAndConditions" title="termsAndConditions">Agree</label></td>
    </table>
    <input class="button" type=submit value="Register">
    </form>
</fieldset>
</body>
</html>