<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />  <meta name="description" />
    <title>shopping cart test task</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/javascripts/vendor/bootstrap/less/bootstrap.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/shopping_cart.css' />
    <script type="text/javascript" src="/javascripts/vendor/requirejs/require.js"></script>
    <script type="text/javascript" src="/javascripts/require-config.js"></script>
    <script type="text/javascript">
        require(["domReady", "shoppingCart"], function(domReady, ShoppingCart){
            var shoppingCart = new ShoppingCart();
        });
    </script>
</head>
<body>
</body>
</html>