@color:#2260b8;
@colorLight: lighten(@color, 20%);
@resizeHandlerHalfSize: 5px;
html,body {
  position: relative;
  background-color: rgb(207,211,230);
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: cursive;
  font-weight: 700;
  text-shadow: 2px 2px 2px @colorLight;
  color: @colorLight;
  text-align: center;
  alignment: center;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  margin: 0;
  padding: 0;

  .green {color: #008000;}
  .red {color: #ff0000;}
  .logo{float: left;}
  .name {
    display: block;
    padding: 12px 0;
    text-decoration: none;
    font-size: 30px;
  }
  .container{
    height: 100%;
  }
  .header {
    height: 150px;
    min-width: 470px;
  }
  .footer {
    clear: both;
    height: 64px;
  }
  .sidebar {
    width: 192px;
    float:left;
    text-align: left;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 20px;
      width: 192px;
      z-index: 1000;
      li {
        a {
          display: block;
          border-bottom: none;
        }
        ul {
          position: absolute;
          display: none; // Скрываем подменю
          margin-left: 165px; // Сдвигаем подменю вправо
          margin-top: -2em; // Сдвигаем подменю вверх
        }
        &:hover>ul {display: block;} // При выделении пункта курсором мыши отображается подменю
      }
    }
  }
  .main {
    min-height: 450px;
    margin-left: 192px;
  }

  fieldset {
    display: inline-block;
    text-align: center;
    border-color: @colorLight;
  }
  legend {font-size: 18px;}
  select {width: 173px;}
  td {width: 180px;}
  label:hover{
    text-shadow: 2px 2px 2px @colorLight;
    color: #fff;
  }
  .button,.buttonlng, .sidebar li a{
    text-decoration: none;
    border:1px solid @color;
    padding:  5px 10px;
    color:#fff;
    background-color: lighten(@color, 10%);
    -webkit-user-select:none;
    text-shadow: none;
    &:hover {color:#fff;background-color:@colorLight;border-color:@color;}
    &:active {
      -webkit-transition-duration: 0.1s;
      -moz-transition-duration: 0.1s;
      transition-duration: 0.1s;
      color:#fff;background-color:@colorLight;border-color:@color;
      -webkit-box-shadow: inset 0 2px 7px 1px @color;
      -moz-box-shadow: inset 0 2px 7px 1px @color;
      box-shadow: inset 0 2px 7px 1px @color;
    }
  }
  .button, .buttonlng {font-size: 12px;
    border-radius:4px;
    margin: 0px 5px;
    width: 40px;
    line-height:1.42857143;
    display: inline-block;
  }
  .slideshow-wrap {
    display: block;
    background-color: #000000;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    position: relative;
    margin: 0 auto 0 auto;
    .item{
      width: 100%;
      height: 100%;
      position: absolute;
      display:none;
      img {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 0;
      }
      .description {
        position: absolute;
        width: 100%;
        font-size: 12px;
        top: 0;
        z-index: 1;
        background-color: #528cdf;
        opacity: 0;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
        color: #ffffff;
      }
    }
    .slideshow-inner {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      &.slide {
        @media all and (transform-3d),(-webkit-transform-3d) {
          .item {
            -webkit-transition: -webkit-transform .6s ease-in-out;
            -o-transition: -o-transform .6s ease-in-out;
            transition: transform .6s ease-in-out;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-perspective: 1000;
            perspective: 1000;
          }

          .item.next, .item.active.right {
            left: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
          }

          .item.prev, .item.active.left {
            left: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
          }

          .item.next.left, .item.prev.right, .item.active {
            left: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
          }
        }
        .active, .next, .prev {
          display: block;
        }
        .active, .next.left, .prev.right {
          left: 0;
        }
        .next, .active.right {
          left: 100%;
        }
        .prev, .active.left {
          left: -100%;
        }
      }
      &.crossfade {
        .item {
          display: block;
          opacity: 0;
          -webkit-transition: opacity 1s ease-in-out;
          -o-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-perspective: 1000;
          perspective: 1000;
        }
        .item.next.left, .item.prev.right, .item.active {
          opacity: 1;
        }
      }
    }
    .buttons{
      position: absolute;
      display: none;
      left: 50%;
      bottom: 7px;
      z-index: 3;
      width: 13px;
      height: 13px;
      background-color: @colorLight;
      opacity: 0.7;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer;
      -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
      -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
      box-shadow: 0px 0px 3px rgba(0,0,0,.8);
      -webkit-transition: background-color .2s;
      -moz-transition: background-color .2s;
      -o-transition: background-color .2s;
      transition: background-color .2s;
      &:hover { opacity: 1; z-index: 4;}
      &:active { background-color: @color; bottom: 5px;}
      &[data-active='1'] { background-color: @color; opacity: 1; z-index: 4;}
    }
    .arrows {
      color: @colorLight;
      position: absolute;
      top: 50%;
      display: none;
      margin-top: -14px;
      opacity: 0.7;
      cursor: pointer;
      z-index: 2;
      background-color: transparent;
      -webkit-transition: opacity .2s;
      -moz-transition: opacity .2s;
      -o-transition: opacity .2s;
      transition: opacity .2s;
      text-shadow: 0 0 3px rgba(0,0,0,.8);
      &:hover { opacity: 1;}
      &:active { color: @color; margin-top: -12px;}
      &[data-arrow='right']{right: 5px;}
      &[data-arrow='left']{left: 5px;}
    }
    &:hover {
      .arrows{ display: block;}
      .buttons{ display: block;}
      .description{
        opacity: 0.7;
        &:hover {opacity: 1;}
      }
    }
  }
}
.dd-main {
  width:100%;
  height:100%;
  .dd-container {
    float: left;
    position: relative;
    width: 400px;
    height: 300px;
    margin: 30px;
    background: white;
    min-width: 400px;
    min-height: 300px;
    border: 5px dashed #808080;
    &.active {
      border-color:#ffff00;
    }
    button#add{
      position:absolute;
      bottom: -30px;
    }
    p{
      position:absolute;
      top:-50px;
    }
    .dd-item {
      left: 0px;
      top: 0px;
      cursor: move;
      width: 96px;
      height: 70px;
      background-color: #DDDDDD;
      position:absolute;
      z-index: 100;
      &.active,&:hover{
        z-index: 200;
      }
      &.resizable,&:hover {
        outline: 2px dashed rgba(222, 60, 80, .9);
      }
      &.resizable {
        .resize-handle{
          position: absolute;
          display: block;
          width: 2*@resizeHandlerHalfSize;
          height: 2*@resizeHandlerHalfSize;
          background-color: rgba(222, 60, 80, .9);
          z-index: 999;
          &.east {
            right: -@resizeHandlerHalfSize;
            top: 50%;
            margin-top: -@resizeHandlerHalfSize;
            cursor: e-resize;
          }
          &.west{
            left: -@resizeHandlerHalfSize;
            top: 50%;
            margin-top: -@resizeHandlerHalfSize;
            cursor: w-resize;
          }
          &.north {
            top: -@resizeHandlerHalfSize;
            left: 50%;
            margin-left: -@resizeHandlerHalfSize;
            margin-top:0;
            cursor: n-resize;
            &.north.east {
              margin-left:0;
              left: auto;
              right: -@resizeHandlerHalfSize;
              cursor: ne-resize;
            }
            &.north.west{
              margin-left:0;
              left: -@resizeHandlerHalfSize;
              cursor: nw-resize;
            }
          }
          &.south{
            top: auto;
            bottom: -@resizeHandlerHalfSize;
            left: 50%;
            margin-left: -@resizeHandlerHalfSize;
            margin-top:0;
            cursor: s-resize;
            &.east{
              left: auto;
              margin-left:0;
              right: -@resizeHandlerHalfSize;
              cursor: se-resize;
            }
            &.west{
              left: -@resizeHandlerHalfSize;
              margin-left:0;
              cursor: sw-resize;
            }
          }
        }
      }
      img {
          width: 100%;
          height: 100%;
      }
    }
  }
}