html,body {
    position: relative;
    background-color: rgb(207,211,230);
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: cursive;
    font-weight: 700;
    text-shadow: 2px 2px 2px #3075d9;
    color: #3075d9;
    text-align: center;
    alignment: center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    margin: 0;
    padding: 0;
}
.green {color: #008000;}
.red {color: #ff0000;}
.logo{float: left;}
.name {
    display: block;
    padding: 12px 0;
    text-decoration: none;
    font-size: 30px;
}
.container{
    height: 100%;
    background-color: rgb(207,211,230);
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgb(207,211,230);
    text-align: center;
    height: 150px;
    min-width: 470px;
}
.footer {
    clear: both;
    height: 64px;
    background-color: rgb(207,211,230);
}
.sidebar {
    position: relative;
    width: 192px;
    float:left;
    text-align: left;
    padding: 0;
    margin: 0;
}
.main {
    position: relative;
    min-height: 450px;
    margin-left: 192px;
    padding: 0;
    background-color: white;
    }
.sidebar ul{
    width: 192px;/* Ширина меню */
    list-style-type: none;/* Для списка убираем маркеры */
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    z-index: 1000;
}
.sidebar  li ul {
    position: absolute; /* Подменю позиционируются абсолютно */
    display: none; /* Скрываем подменю */
    margin-left: 165px; /* Сдвигаем подменю вправо */
    margin-top: -2em; /* Сдвигаем подменю вверх */
}
.sidebar ul li:hover>ul {display: block;}/* При выделении пункта курсором мыши отображается подменю */
.sidebar li a {
    display: block; /* Ссылка как блочный элемент */
    border-bottom: none; /* Границу снизу не проводим */
}
fieldset {
    display: inline-block;
    text-align: center;
    border-color: #3075d9;
}
legend {font-size: 18px;}
select {width: 173px;}
td {width: 180px;}
label:hover{
    text-shadow: 2px 2px 2px #3075d9;
    color: #fff;
}
.button,.buttonlng, .sidebar li a{
    text-decoration: none;
    border:1px solid #3c7edb;
    padding:  5px 10px;
    color:#fff;
    background-color:#528cdf;
    -webkit-user-select:none;
    text-shadow: none;
}
.button:hover ,.buttonlng:hover, .sidebar li a:hover {color:#fff;background-color:#3075d9;border-color:#2260b8;}
.button:active ,.buttonlng:active , .sidebar li a:active {
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    color:#fff;background-color:#3075d9;border-color:#2260b8;
    -webkit-box-shadow: inset 0 2px 7px 1px #2260b8;
    -moz-box-shadow: inset 0 2px 7px 1px #2260b8;
    box-shadow: inset 0 2px 7px 1px #2260b8;
}
.button, .buttonlng {font-size: 12px;
    border-radius:4px;
    margin: 0px 5px;
    width: 40px;
    line-height:1.42857143;
    display: inline-block;
}
.slideshow-wrap {
    display: block;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    position: relative;
    margin: 0 auto 0 auto;
}
.slideshow-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slideshow-inner>ul {
    z-index: 0;
    position: relative;
    list-style: none;
    height: 100%;
    left: -100%;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
   /* -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);*/
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
.slideshow-inner>ul>li {
    position: relative;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
}
.slideshow-inner>ul>li>img {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
}
.slideshow-wrap .buttons{
    position: absolute;
    left: 50%;
    bottom: 7px;
    z-index: 3;
    width: 12px;
    height: 12px;
    background-color: #528cdf;
    opacity: 0.7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
.slideshow-wrap .buttons:hover { opacity: 1;}
.slideshow-wrap .buttons:active { bottom: 5px;}
.slideshow-wrap .buttons[data-active='1'] { background-color: #2260b8; opacity: 1;}
.arrows {
    font-size: 36px;
    color: #528cdf;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    opacity: 0.7;
    cursor: pointer;
    z-index: 2;
    background-color: transparent;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
}
.arrows:hover {color: #2260b8; opacity: 1;}
.arrows:active { margin-top: -23px;}
.arrows[data-arrow='right']{right: 5px;}
.arrows[data-arrow='left']{left: 5px;}
.slideshow-inner>ul>li:hover .description{ opacity: 0.7 ;}
.description {
    position: absolute;
    width: 100%;
    font-size: 12px;
    top: 0;
    z-index: 1;
    background-color: #528cdf;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: #ffffff;
}
