body {
    background-color: #fff;
    font-size: 16px;
    font-family: cursive;
    font-weight: 700;
    text-shadow: 2px 2px 2px #3075d9;
    color: #3075d9;
    text-align: center;
    alignment: center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    margin: 0;
}
.green {color: #008000;}
.red {color: #ff0000;}
.logo{float: left;}
.name {
    display: block;
    padding: 12px 0;
    text-decoration: none;
    font-size: 30px;
}
header {
    display: block;
    position:fixed;
    top: 0;
    height: 150px;
    width: 100%;
    min-width: 480px;
    background-color: #eee;
    border-bottom: 1px solid #222;
    z-index: 99997;
}
footer {
    display: block;
    position:fixed;
    bottom: 0;
    width: 100%;
    min-width: 480px;
    border-top: 1px solid #222;
    background-color: #eee;
    height: 65px;
    z-index: 99998;
}
.main {
    display: block;
    text-align: center;
    margin: 161px 0 66px 193px ;
}
.sidebar {
    display: block;
    position: fixed;
    top: 151px;
    width: 192px;
    bottom: 66px;
    text-align: left;
    background-color: #ddd;
    border-right: 1px solid #222;
    z-index: 99999;
}
.sidebar ul{
    width: 192px;/* Ширина меню */
    list-style-type: none;/* Для списка убираем маркеры */
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
}
.sidebar  li ul {
    position: absolute; /* Подменю позиционируются абсолютно */
    display: none; /* Скрываем подменю */
    margin-left: 165px; /* Сдвигаем подменю вправо */
    margin-top: -2em; /* Сдвигаем подменю вверх */
}
.sidebar ul li:hover>ul {display: block;}/* При выделении пункта курсором мыши отображается подменю */
.sidebar li a {
    display: block; /* Ссылка как блочный элемент */
    border-bottom: none; /* Границу снизу не проводим */
}
fieldset {
    display: inline-block;
    text-align: center;
    border-color: #3075d9;
}
legend {font-size: 18px;}
select {width: 173px;}
td {width: 180px;}
label:hover{
    text-shadow: 2px 2px 2px #3075d9;
    color: #fff;
}
.button,.buttonlng, .sidebar li a{
    text-decoration: none;
    border:1px solid #3c7edb;
    padding:  5px 10px;
    color:#fff;
    background-color:#528cdf;
    -webkit-user-select:none;
    text-shadow: none;
}
.button:hover ,.buttonlng:hover, .sidebar li a:hover {color:#fff;background-color:#3075d9;border-color:#2260b8;}
.button:active ,.buttonlng:active , .sidebar li a:active {
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    color:#fff;background-color:#3075d9;border-color:#2260b8;
    -webkit-box-shadow: inset 0 2px 7px 1px #2260b8;
    -moz-box-shadow: inset 0 2px 7px 1px #2260b8;
    box-shadow: inset 0 2px 7px 1px #2260b8;
}
.button, .buttonlng {font-size: 12px;
    border-radius:4px;
    margin: 0px 5px;
    width: 40px;
    line-height:1.42857143;
    display: inline-block;
}
.slideshow-wrap {
    display: block;
    text-align: center;
    border: 1px rgba(255,255,240,1) solid;
    height: 450px;
    width: 800px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    margin: 20px auto 100px auto;
    position: relative;
}
.slideshow-inner {
    background-color: rgb(0,0,0);
    overflow: hidden;
    position: relative;
}
.slideshow-inner>ul {
    list-style: none;
    height: 100%;/*
    width: 500%;*/
    overflow: hidden;
    position: relative;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
.slideshow-inner>ul>li {
    width: 800px;
    height: 450px;
    float: left;
    position: relative;
}
.slideshow-inner>ul>li>img {
    margin: auto;
    height: 100%;
}
.slideshow-wrap .buttons{
    position: absolute;
    left: 50%;
    bottom: -25px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color: #528cdf;
    opacity: 0.7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
.slideshow-wrap .buttons:hover { opacity: 1;}
.slideshow-wrap .buttons:active { bottom: -27px;}/*
.slideshow-wrap .buttons[data-button='1'] { margin-left: -36px;}
.slideshow-wrap .buttons[data-button='2'] { margin-left: -18px;}
.slideshow-wrap .buttons[data-button='4'] { margin-left: 18px;}
.slideshow-wrap .buttons[data-button='5'] { margin-left: 36px;}*/
.slideshow-wrap .buttons[data-active='1'] { background-color: #2260b8; opacity: 1;}/*
.slideshow-wrap .buttons[data-button='1'][data-active='1']~.slideshow-inner>ul { left: 0;}
.slideshow-wrap .buttons[data-button='2'][data-active='1']~.slideshow-inner>ul { left: -100%;}
.slideshow-wrap .buttons[data-button='3'][data-active='1']~.slideshow-inner>ul { left: -200%;}
.slideshow-wrap .buttons[data-button='4'][data-active='1']~.slideshow-inner>ul { left: -300%;}
.slideshow-wrap .buttons[data-button='5'][data-active='1']~.slideshow-inner>ul { left: -400%;}*/
.arrows {
    font-size: 25px;
    color: #528cdf;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    opacity: 0.7;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
}
.arrows:hover {color: #2260b8; opacity: 1;}
.arrows:active { margin-top: -23px;}
.arrows[data-arrow='right']{right: -25px;}
.arrows[data-arrow='left']{left: -25px;}
.slideshow-wrap .buttons[data-button='1'][data-active='1']~.arrows[data-arrow='left']{display: none;}/*
.slideshow-wrap .buttons[data-button='5'][data-active='1']~.arrows[data-arrow='right']{display: none;}*/

.slideshow-inner>ul>li:hover .description{ opacity: 0.7 ;}
.description {
    position: absolute;
    width: 100%;
    font-size: 20px;
    top: 0;
    z-index: 1000;
    background-color: #528cdf;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: #ffffff;
}